*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--theme);
  font-family: Coolvetica, Arial, serif;
}

html, body, #root {
  height: 100%;
}

:root {
  --fs-xxl: 3rem;
  --fs-xl: 2rem;
  --fs-l: 1.5rem;
  --fs-m: 1rem;

  --lh: 5px;

  --ge-xl: 20rem;

  --theme: #A2D2FF;
  --lines: #1C6DD0;
}

@media screen and (max-width: 1075px) {
  :root {
    --fs-xxl: 2rem;
    --fs-xl: 1.5rem;
    --fs-l: 1.2rem;
    --fs-m: .8rem;

    --lh: 3px;
  }
}

@media screen and (max-width: 820px) {
  :root {
    --fs-xxl: 1.5rem;
    --fs-xl: 1.2rem;
    --fs-l: 1rem;
    --fs-m: .5rem;

    --lh: 2px;
  }

}