@font-face{
    font-family: 'Coolvetica';
    src: Local('Coolvetica'), url(./fonts/coolvetica.rg-regular.otf) format('opentype');
}

@font-face{
    font-family: 'DM Mono';
    src: Local('DM Mono'), url(./fonts/DMMono-Regular.ttf) format('truetype');
}
